<!DOCTYPE html>

<html lang="en">

	<head>
		<!-- 오픈 소스 CSS-->
		<link rel="shortcut icon" href="">
		<link rel="stylesheet" type="text/css" href= "/css/vendor.min.css"/>
		<link rel="stylesheet" type="text/css" href= "/css/app.min.css" />
		<link rel="stylesheet" type = "text/css" href="/css/nv.d3.css"/>
		
		<!-- 오픈 소스 JavaScript -->
		<script src="/js/d3.min.js"></script>
		<script src="/js/nv.d3.min.js"></script>
		<script src="/js/vendor.min.js"></script>
   		<script src="/js/app.min.js"></script>

		<meta charset="utf-8" />
		<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
		<meta content="" name="description" />
		<meta content="" name="author" /> 

		<title>Color Admin | HTML Startup</title>
	</head>
	<body>
	
		<!-- BEGIN #app -->
		<div id="app" class="app app-header-fixed app-sidebar-fixed app-with-wide-sidebar app-with-light-sidebar">
			<!-- BEGIN #header -->
			<div id="header" class="app-header">
				<!-- BEGIN navbar-header -->
				<div class="navbar-header">
					<button type="button" class="navbar-desktop-toggler" data-toggle="app-sidebar-minify">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a href="view.ejs" class="navbar-brand">
						<b class="me-1">Color</b> Admin
						<span class="navbar-logo">
							<span class="text-blue">G</span>
							<span class="text-red">o</span>
							<span class="text-orange">o</span>
							<span class="text-blue">g</span>
							<span class="text-green">l</span>
							<span class="text-red">e</span>
						</span>
					</a>
					<button type="button" class="navbar-mobile-toggler" data-toggle="app-sidebar-mobile">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				</div>
				<!-- END navbar-header -->
				<!-- BEGIN header-nav -->
				<div class="navbar-nav">
					<div class="navbar-item navbar-form">
							<div class="form-group">
								<input type="text" class="form-control" placeholder='Try searching "Users Today"' />
								<button type="submit" class="btn btn-search"><i class="fa fa-search"></i></button>
							</div>
					</div>
					<div class="navbar-item dropdown">
						<a href="#" data-bs-toggle="dropdown" class="navbar-link dropdown-toggle icon">
							<i class="fa fa-bell"></i>
							<span class="badge">0</span>
						</a>
						<div class="dropdown-menu media-list dropdown-menu-end">
							<div class="dropdown-header">NOTIFICATIONS (0)</div>
							<div class="text-center w-300px py-3">
								No notification found
							</div>
						</div>
					</div>
					<div class="navbar-item navbar-user dropdown">
						<a href="#" class="navbar-link dropdown-toggle d-flex align-items-center" data-bs-toggle="dropdown">
							<div class="image image-icon bg-gray-800 text-gray-600">
								<i class="fa fa-user"></i>
							</div>
							<span class="d-none d-md-inline">Adam Schwartz</span> <b class="caret ms-lg-2"></b>
						</a>
						<div class="dropdown-menu dropdown-menu-end me-1">
							<a href="javascript:;" class="dropdown-item">Edit Profile</a>
							<a href="javascript:;" class="dropdown-item d-flex align-items-center">
								Inbox
								<span class="badge bg-danger rounded-pill ms-auto pt-5px">2</span> 
							</a>
							<a href="javascript:;" class="dropdown-item">Calendar</a>
							<a href="javascript:;" class="dropdown-item">Setting</a>
							<div class="dropdown-divider"></div>
							<a href="javascript:;" class="dropdown-item">Log Out</a>
						</div>
					</div>
				</div>
				<!-- END header-nav -->
			</div>
			<!-- END #header -->
			<!-- BEGIN #sidebar -->
			<div id="sidebar" class="app-sidebar">
				<!-- BEGIN scrollbar -->
				<div class="app-sidebar-content" data-scrollbar="true" data-height="100%">
					<!-- BEGIN menu -->
					<div class="menu">
						<div class="menu-profile">
							<a href="javascript:;" class="menu-profile-link" data-toggle="app-sidebar-profile" data-target="#appSidebarProfileMenu">
								<div class="menu-profile-cover with-shadow"></div>
								<div class="menu-profile-image menu-profile-image-icon bg-gray-900 text-gray-600">
									<i class="fa fa-user fs-48px mb-n4"></i>
								</div>
								<div class="menu-profile-info">
									<div class="d-flex align-items-center">
										<div class="flex-grow-1">
											지현석
										</div>
										<div class="menu-caret ms-auto"></div>
									</div>
									<small>Front end developer</small>
								</div>
							</a>
						</div>
						<div id="appSidebarProfileMenu" class="collapse">
							<div class="menu-item pt-5px">
								<a href="javascript:;" class="menu-link">
									<div class="menu-icon"><i class="fa fa-cog"></i></div>
									<div class="menu-text">Settings</div>
								</a>
							</div>
							<div class="menu-item">
								<a href="javascript:;" class="menu-link">
									<div class="menu-icon"><i class="fa fa-pencil-alt"></i></div>
									<div class="menu-text"> Send Feedback</div>
								</a>
							</div>
							<div class="menu-item pb-5px">
								<a href="javascript:;" class="menu-link">
									<div class="menu-icon"><i class="fa fa-question-circle"></i></div>
									<div class="menu-text"> Helps</div>
								</a>
							</div>
							<div class="menu-divider m-0"></div>
						</div>
						<div class="menu-header">Navigation</div>
						<div class="menu-item active">
							<a href="index.html" class="menu-link">
								<div class="menu-icon">
									<i class="material-icons">home</i>
								</div>
								<div class="menu-text">매출 관리 리스트</div>
							</a>
						</div>
						
						<div class="menu-item has-sub">
							<a href="javascript:;" class="menu-link">
								<div class="menu-icon">
									<i class="material-icons">list</i>
								</div>
								<div class="menu-text">Menu Level</div>
								<div class="menu-caret"></div>
							</a>
							<div class="menu-submenu">
								<div class="menu-item has-sub">
									<a href="javascript:;" class="menu-link">
										<div class="menu-text">Menu 1.1</div>
										<div class="menu-caret"></div>
									</a>
									<div class="menu-submenu">
										<div class="menu-item has-sub">
											<a href="javascript:;" class="menu-link">
												<div class="menu-text">Menu 2.1</div>
												<div class="menu-caret"></div>
											</a>
											<div class="menu-submenu">
												<div class="menu-item"><a href="javascript:;" class="menu-link"><div class="menu-text">Menu 3.1</div></a></div>
												<div class="menu-item"><a href="javascript:;" class="menu-link"><div class="menu-text">Menu 3.2</div></a></div>
											</div>
										</div>
										<div class="menu-item"><a href="javascript:;" class="menu-link"><div class="menu-text">Menu 2.2</div></a></div>
										<div class="menu-item"><a href="javascript:;" class="menu-link"><div class="menu-text">Menu 2.3</div></a></div>
									</div>
								</div>
								<div class="menu-item"><a href="javascript:;" class="menu-link"><div class="menu-text">Menu 1.2</div></a></div>
								<div class="menu-item"><a href="javascript:;" class="menu-link"><div class="menu-text">Menu 1.3</div></a></div>
							</div>
						</div>
					</div>
					<!-- END menu -->
				</div>
				<!-- END scrollbar -->
			</div>
			<div class="app-sidebar-bg"></div>
			<div class="app-sidebar-mobile-backdrop"><a href="#" data-dismiss="app-sidebar-mobile" class="stretched-link"></a></div>
			<!-- END #sidebar -->
			
			<!-- BEGIN #content -->
			<div id="content" class="app-content">
				<!-- BEGIN breadcrumb -->
				<ol class="breadcrumb float-xl-end">
					<li class="breadcrumb-item"><a href="javascript:;">Home</a></li>
					<li class="breadcrumb-item"><a href="javascript:;">Library</a></li>
					<li class="breadcrumb-item active">Data</li>
				</ol>
				<!-- END breadcrumb -->
				<!-- BEGIN page-header -->
				<h1 class="page-header">매출관리표 <small>header small text goes here...</small></h1>
				<!-- END page-header -->
				
				<!-- BEGIN panel -->			
				<div class="panel panel-inverse panel-with-tabs">
					<div class="panel-heading p-0">
					<div class="tab-overflow">
						<ul class="nav nav-tabs nav-tabs-inverse">
						<li class="nav-item prev-button"><a href="javascript:;" data-click="prev-tab" class="nav-link text-primary"><i class="fa fa-arrow-left"></i></a></li>
						<li class="nav-item">
							<a href="#nav-tab-1" data-bs-toggle="tab" class="nav-link active">Nav Tab 1</a>
						</li>
						<li class="nav-item">
							<a href="#nav-tab-2" data-bs-toggle="tab" class="nav-link ">Nav Tab 2</a>
						</li>
						<li class="nav-item">
							<a href="#nav-tab-3" data-bs-toggle="tab" class="nav-link ">Nav Tab 3</a>
						</li>
						<li class="nav-item next-button"><a href="javascript:;" data-click="next-tab" class="nav-link text-primary"><i class="fa fa-arrow-right"></i></a></li>
						</ul>
					</div>
					<div class="panel-heading-btn me-2 ms-2 d-flex">
						<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-secondary" data-toggle="panel-expand"><i class="fa fa-expand"></i></a>
					</div>
					</div>



						<!-- 매출 내역 -->
					<div class="panel-body tab-content">
					<div class="tab-pane fade active show" id="nav-tab-1">
						<!-- 날짜 -->
						<div >
							<div >
							   <input type="date">
							   <input type="submit" value="Submit">
							</div>
						 </div>
						<table class="table">
							<thead>
							<tr>
								<th scope="col">순서</th>
								<th scope="col">매출 항목</th>
								<th scope="col">비용</th>
								<th scope="col" rowspan="2">기타</th>
							</tr>
							</thead>
							<tbody>
							<tr>
								<th scope="row"><div class="form-check">
									<input class="form-check-input" type="checkbox" value="">
								</div></th>
								<td>찜닭</td>
								<td>20,000</td>
								<td>뒤지게 맛있음</td>
								<td></td>
							</tr>

							<tr>
								<th scope="row"></th>
								<td><input type="text" placeholder="입력하세요."></td>
								<td><input type="text" placeholder="입력하세요."></td>
								<td><input type="text" placeholder="입력하세요."></td>
								<td><button type="button" class="btn btn-primary">추가</button></td>
							</tr>

							<tr>
								
								<!-- <td colspan="5" class="text-center"><i class="fa-solid fa-circle-plus"></i></td> -->
							</tr>
							</tbody>
						</table>
					<!-- 매입 내역 -->
						<table class="table">
							<thead>
								<tr>
								<th scope="col">순서</th>
								<th scope="col">매입 항목</th>
								<th scope="col">비용</th>
								<th scope="col" rowspan="2">기타</th>
								</tr>
							</thead>
							<tbody>
								<tr>
								<th scope="row"><div class="form-check">
									<input class="form-check-input" type="checkbox" value="">
									</div></th>
								<td>임대료</td>
								<td>20,000,000</td>
								<td>뒤지게 비쌈 </td>
								<td></td>
								</tr>
	
								<tr>
								<th scope="row"></th>
								<td><input type="text" placeholder="입력하세요."></td>
								<td><input type="text" placeholder="입력하세요."></td>
								<td><input type="text" placeholder="입력하세요."></td>
								<td><button type="button" class="btn btn-primary">추가</button></td>
								</tr>
	
								<tr>
								
								<!-- <td colspan="5" class="text-center"><i class="fa-solid fa-circle-plus"></i></td> -->
								</tr>
							</tbody>
							</table>
							
						<!-- 세금 내역 -->
						<table class="table">
							<thead>
								<tr>
								<th scope="col">순서</th>
								<th scope="col">세금 항목</th>
								<th scope="col">비용</th>
								<th scope="col" rowspan="2">기타</th>
								</tr>
							</thead>
							<tbody>
								<tr>
								<th scope="row"><div class="form-check">
									<input class="form-check-input" type="checkbox" value="">
									</div></th>
								<td>부가세</td>
								<td>20,000</td>
								<td>뒤지게 쌈 </td>
								<td></td>
								</tr>
	
								<tr>
								<th scope="row"></th>
								<td><input type="text" placeholder="입력하세요."></td>
								<td><input type="text" placeholder="입력하세요."></td>
								<td><input type="text" placeholder="입력하세요."></td>
								<td><button type="button" class="btn btn-primary">추가</button></td>
								</tr>                 
								
								<tr class="table-light">
									<th scope="row">순이익</th>
									<th colspan="4">0</th>
								</tr>
							</tbody>
							</table>
						
					<div style="float: right;">
						<button type="button" class="btn btn-secondary">수정</button> <button type="button" class="btn btn-danger" >삭제</button> 
				</div>
						</div>
					</div>
					
					<div class="tab-pane fade" id="nav-tab-2">
						<div id="nv-bar-chart" class="h-250px"></div>
					</div>
					
					<div class="tab-pane  fade" id="nav-tab-3">
						<div>
							<p>세부 사항</p>
						</div>
						
					</div>
					</div>
				</div>
			</div>
			<!-- END #content -->
			
			<!-- BEGIN scroll to top btn -->
			<a href="javascript:;" class="btn btn-icon btn-circle btn-success btn-scroll-to-top" data-toggle="scroll-to-top"><i class="fa fa-angle-up"></i></a>
			<!-- END scroll to top btn -->
		</div>
		<!-- END #app -->
		
		<!-- ================== END core-js ================== -->
		<script>
			var barChartData = [{
			key: 'Cumulative Return',
			values: [
				{ 'label' : 'A', 'value' : 29, 'color' : app.color.red }, 
				{ 'label' : 'B', 'value' : 15, 'color' : app.color.orange }, 
				{ 'label' : 'C', 'value' : 32, 'color' : app.color.success }, 
				{ 'label' : 'D', 'value' : 196, 'color' : app.color.cyan },  
				{ 'label' : 'E', 'value' : 44, 'color' : app.color.blue },  
				{ 'label' : 'F', 'value' : 98, 'color' : app.color.purple },  
				{ 'label' : 'G', 'value' : 13, 'color' : app.color.gray500 },  
				{ 'label' : 'H', 'value' : 5, 'color' : app.color.componentColor }
			]
			}];
		
			nv.addGraph(function() {
			var barChart = nv.models.discreteBarChart()
				.x(function(d) { return d.label })
				.y(function(d) { return d.value })
				.showValues(true)
				.duration(250);
		
			barChart.yAxis.axisLabel("Total Sales");
			barChart.xAxis.axisLabel('Product');
		
			d3.select('#nv-bar-chart').append('svg').datum(barChartData).call(barChart);
			nv.utils.windowResize(barChart.update);
		
			return barChart;
			});
		</script>

	</body>
</html>